<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Staff Allocate Plus</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/sass/bundles.css" rel="stylesheet" />
    <link href="~/Scripts/lib/angular/angular-csp.css" rel="stylesheet" />
    <link href="~/Scripts/lib/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet" />
    <link href="~/Scripts/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Scripts/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("S Allocate +", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @{
                    if (User != null && User.IsInRole("Administrator"))
                    {
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Staffs", "Index", "Staff")</li>
                    <li>@Html.ActionLink("Jobs", "Index", "Job")</li>
                </ul>        
                    }
                }

                @{
                    if (User != null && User.Identity.IsAuthenticated)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="@Url.Action("Profile", "Account")">Profile</a></li>
                            <li><a href="@Url.Action("Logout", "Account")">Logout</a></li>
                        </ul>
                    }
                }
            </div>

            
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <div class="container">
            <footer>
                <p>&copy; @DateTime.Now.Year - Staff Allocate Plus - Nguyen Tran Nguyen (6586880)</p>
            </footer>
        </div>
        
    </div>
    <script src="~/Scripts/lib/angular/angular.min.js"></script>
    <script src="~/Scripts/lib/angular-route/angular-route.min.js"></script>
    <script src="~/Scripts/lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="~/Scripts/lib/moment/min/moment.min.js"></script>
    <script src="~/Scripts/lib/pace/pace.min.js"></script>
    <script src="~/Scripts/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/lib/angular-strap/dist/angular-strap.min.js"></script>
    <script src="~/Scripts/lib/angular-strap/dist/angular-strap.tpl.min.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
    <script>
        var resourceUrl = {
            jobResource: '/Job',
            jobApi: '/api/Job',
            userApi: '/api/User',
            costCentreApi: '/api/CostCentre',
            staffApi: '/api/Staff',
            roleApi: '/api/Role',
        };

    function l(data) {
        console.log(data);
    }
    </script>

    <script src="~/AppJs/helpers/ajax-helper.js"></script>
    <script src="~/AppJs/angular-common.js"></script>

    <!-- Angular js services -->
    <script src="~/AppJs/services.js"></script>
    <script src="~/AppJs/services/userService.js"></script>
    <script src="~/AppJs/services/jobService.js"></script>
    <script src="~/AppJs/services/staffService.js"></script>

    <!-- Angular js controllers -->
    <script src="~/AppJs/controllers.js"></script>
    <script src="~/AppJs/controllers/jobDetailCtrl.js"></script>
    <script src="~/AppJs/controllers/jobListCtrl.js"></script>
    <script src="~/AppJs/controllers/staffDetailCtrl.js"></script>
    <script src="~/AppJs/controllers/staffListCtrl.js"></script>
    <script src="~/AppJs/controllers/jobSendEmailCtrl.js"></script>

    <!-- Angular js apps -->
    <script src="~/AppJs/jobApp.js"></script>
    <script src="~/AppJs/staffApp.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
