@model SwinSchool.WebUI.Models.ResetPasswordRequestViewModel

@{
    ViewBag.Title = "Reset Password for "+Model.Name;
}
<div class="container">
    <h2>Reset password</h2>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="form form-horizontal">
            @Html.HiddenFor(model => model.UserID)
            @Html.HiddenFor(model => model.SecQn)
            @Html.HiddenFor(model => model.Name)

            <div class="form-group">
                
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">@Html.DisplayTextFor(model => model.SecQn)</span>
                    @Html.TextBoxFor(model => model.SecAns, new { @class = "form-control" })
                </div>
                
                @Html.ValidationMessageFor(model => model.SecAns)
            </div>
            <div class="form-group">
                <input type="submit" value="Reset password" class="btn btn-primary" />
                @Html.ActionLink("Back to user detail", "Edit", new { id = Model.UserID }, new { @class = "btn btn-default" })
            </div>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>