@model SwinSchool.WebUI.Models.ResetPasswordRequestViewModel
@{
    ViewBag.Title = "Reset Password for "+Model.Name;
}
<div class="container" ng-app="app">
    

    <div ng-controller="accCtrl as vm">
        <h2>Reset password for <span ng-bind="vm.model.Name"></span></h2>
        <hr />

        <div class="form form-horizontal">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Old password</span>
                    <input type="password" class="form-control" ng-model="vm.model.OldPassword" />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">New password</span>
                    <input type="password" class="form-control" ng-model="vm.model.NewPassword" />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Confirm password</span>
                    <input type="password" class="form-control" ng-model="vm.model.ConfirmPassword" />
                </div>

                <div class="error" ng-bind="vm.errorMessage" ng-show="vm.errorMessage"></div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" ng-click="vm.resetPassword()">Reset password</button>
                @Html.ActionLink("Back to user detail", "Edit", new { id = Model.UserID }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/angular/angular.min.js"></script>
    <script src="~/Scripts/angular/angular-sanitize.min.js"></script>
    <script>
        angular.module('app', [])
        .controller('accCtrl', ['$http', '$location', function ($http, $location) {
            var vm = this;

            vm.model = {
                UserID: '@Model.UserID',
                Name: '@Model.Name',
                OldPassword: '@Model.OldPassword',
                NewPassword: '@Model.NewPassword',
                ConfirmPassword: '@Model.ConfirmPassword'
            };
            vm.errorMessage = false;

            vm.resetPassword = function () {
                vm.errorMessage = false;

                if (vm.model.ConfirmPassword != vm.model.NewPassword) {
                    vm.errorMessage = "Your password confirm doesn't match";
                    return;
                }
                else if (vm.model.NewPassword == "" || vm.model.NewPassword.length < 4) {
                    vm.errorMessage = "Password must have at least 4 characters";
                    return;
                }

                // using $http service to create a ajax POST request
                $http.post('/api/UserApi/ResetPassword', vm.model)
                .then(function (success) {
                    // navigate to success page
                    window.location.href = '@Url.Action("ResetPasswordSuccess")';
                }, function (error) {
                    vm.errorMessage = error.data.Message;
                });
            };
        }])
    </script>
}