@model SwinSchool.CommonShared.Dto.MyUserDto

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.UserID, new { @class = "control-label col-xs-3" })

            <div class="col-xs-9">
                @Html.TextBoxFor(model => model.UserID, new { @class = "form-control", Readonly = "Readonly" })
                @Html.ValidationMessageFor(model => model.UserID)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-xs-3" })

            <div class="col-xs-9">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3">Password </label>
            <div class="col-xs-9">
                <div class="input-group">
                    <span class="input-group-btn">
                        @Html.ActionLink("Reset password", "ResetPassword", new { id = Model.UserID }, new { @class = "btn btn-default" })
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-xs-3" })

            <div class="col-xs-9">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Tel, new { @class = "control-label col-xs-3" })

            <div class="col-xs-9">
                @Html.TextBoxFor(model => model.Tel, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Tel)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Address, new { @class = "control-label col-xs-3" })

            <div class="col-xs-9">
                @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-push-3 col-xs-9">
                <input type="hidden" name="hfAction" id="hfAction" value="Save" />
                <input type="submit" value="Save" class="btn btn-primary" />
                

                @{
                    if (User.IsInRole("Administrator"))
                    {
                        <button type="button" id="btnDelete" value="Delete" class="btn btn-danger">Delete</button>
                        @Html.ActionLink("Back to List", "Index", "Admin", null, new { @class = "btn btn-default" })
                    }
                }
                
            </div>
        </div>

    </div>
}